@{
    Layout = null;
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="~/Content/login.css" rel="stylesheet">
<body onload="window.history.forward ();">
    <form class="form" method="post" action="Verify">

        <center>
            <img style="width:200px;height:200px;" src="~/Images/digesett-logo.png" />
        </center>
        <h1>
            <br />ESTADISTICAS
        </h1>

        <input type="text" name="Usuario1" placeholder="Username" required />
        <input type="password" name="Contraseña" placeholder="Password" required />
        <input type="submit" name="sent" value="Login" class="btn">

    </form>

    <footer>
        <h5></h5>
    </footer>
</body>