<div class="footer">
    <div class="float-right">
        Dirección General de Seguridad de Tránsito Y Transporte Terrestre
    </div>
    <div>
        <b>DIGESETT</b> &copy; @DateTime.Now.Year
    </div>
</div>
